# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env/
venv/
__pycache__/
*.pyc
.env

# ----------------------
# FastAPI / Backend
# ----------------------
uploads/*
outputs/*
data/*
models/*

# Logs
*.log

# ----------------------
# Node / Frontend
# ----------------------
node_modules/
dist/
build/

# Environment variables
.env

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE
# ----------------------
.vscode/
.idea/

# ----------------------
# Misc
# ----------------------
*.wav
*.mp3
*.npy
*.pt
*.bin